*{
  box-sizing: border-box;
  /* box-sizing: content-box; */
  font-family:'Jomolhari',sans-serif;
  font-weight: bold;
  font-size: 16px;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

/* html{
  position: relative;
  background-color: rgb(216, 247, 251);
} */
/* .raiz{
  position: relative;
  height: fit-content;
  height: 100vh;
} */

.header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  padding: .5rem;
  background-color: rgb(0, 91,119);
  color:white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -1rem 5px -10px white inset;
  border-radius: 0 0 1rem 1rem;
  z-index: 999;
}

.logo-container{
  width: 80vw;
  gap: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: .85rem;
  padding-left: 2rem;
}
.logo-principal{
  width: 4rem;
  height: fit-content;
  border-radius: 1rem;
}
.logo-titulo{
  font-size: 1rem;
  color: white;
  /* margin-bottom:2rem; */
}

.menu{
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  /* text-decoration: none; */
}
.menu >*{
  text-decoration: none;
  height: fit-content;
  color: white;
  font-size: 1.8rem;
}
.active-link{
  padding-bottom: .05rem;
  border-bottom: thin solid #ffffff;
}

.contenido-dividido{
  display: flex;
  flex-direction: column;
  /* height: 85vh; */
}

.slides{
position: relative;
/* z-index: -2; */
  width: 100%;
  /* height: 85vh; */
  /* overflow-y: scroll; */
  /* scroll-snap-type: block mandatory; */
}
.slide{
  width: 100%;
  /* height: 85vh; */
  /* scroll-snap-align: start; */
}

.contenido-izquierdo
{
  background-color: rgb(216, 247, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  padding: 0 2rem;
  text-align: justify;
  padding-top: 1rem;
}
.contenido-izquierdo>h2{
  font-size: 1.7rem;
}
.contenido-izquierdo>p{
  margin-top: 2rem;
  font-size: 1.2rem;
}
.contenido-derecho{ 
  width: 100%;
  height: 50vh;
  background-image: url("/escuela/didactico.jpg");
  background-position: center 78%;
}

.dato-resaltado{
  width: fit-content;
  height: 15vh;
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.393);

}
.dato-resaltado>*{
  font-size: 1.2rem;
}

.contenido-completo{
  /* margin-top: 2rem; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-completo .titulo{
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.cards-container{
  /* background-color: aqua; */
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  /* grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
}

.teacher-card{
  display: grid;
  grid-template-columns: 30% 1fr;
  background-color: white;
  border-radius: 5rem;
  width:100%;
  height: fit-content;
  margin-bottom: 1rem;
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.393);
  overflow: hidden;
}

.img-teacher{
  width: 7.5rem;
  border-radius: 50%;
}
.teacher-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-title{
  font-size: 1.2rem;
}
.card-puesto{
  font-size: 1.2rem;
}

.teacher-plus{
  text-align: justify;
  border-left: thick solid rgb(255,122,0);
  height: fit-content;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

footer{
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 91,119);
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr 1fr; */
  padding: 1rem;
  color: white;
}
footer>div{
  padding-left: 4rem;
}
a{
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.social-icon{
  margin: 5px;
  width: 40px;
  height: 40px;
  filter: invert(1);
}

.slider-container{
  width: 100%;
  height: 85vh;  
}

.slider{
  
  background-image: url("/escuela/1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  animation: animate 15s infinite;
  
}

@keyframes animate {
  25%{
    background-image: url("/escuela/4.jpg");
    /* background-color: blueviolet; */
    background-size: cover;
  }
  50%{
    background-image: url("/escuela/3.jpg");
    /* background-color: orange; */
    background-size: cover;
  }
  75%{
    background-image: url("/escuela/2.jpeg");
    /* background-color: orangered; */
    background-size: cover;
  }
  100%{
    background-image: url("/escuela/1.jpg");
    /* background-color: yellow; */
    background-size: cover;
  }
}


/* Comienza diseño para "Nosotros"*/

.nosotros-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.contenido-nosotros{
  padding: 1rem 0;
  /* background-color: violet; */
  height: fit-content;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 7vh;
  margin-bottom: 10vh;
}
.sub-nosotros{
  text-align: center;
  font-size: 1.5rem;
}
.contenido-nosotros>*{
  /* margin-left: 2rem; */
  text-align: justify;
}
.left-box{
  margin-top: 3rem;
  border-left: 4px solid orange;
  height: fit-content;
}
.parrafo-izquierdo{
  padding-left: 1rem;
  
  
  
}
.nosotros-main{
  position: relative;
  z-index: -2;
}
.nosotros-descripcion{
  padding:0 1rem;
}

.mision-vision-valores{
  width: 100%;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}
.box-mvv{
  /* width: 35vw; */
  height: fit-content;
  background-color: white;
  margin: 1rem 1rem;
  /* margin-left: 60px; */
  border-radius: 4rem;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.393); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: justify;
}

.lista-valores{
  display: flex;
  gap: 5rem;
}
ul,li{
  list-style-type:"-  ";
}
.mvv-title{
  font-size: 1.5rem;
}

.mision-t{
  color:rgb(102, 0, 119);
}
.vision-t{
  color:rgb(255, 120, 0);
}
.valores-t{
  color: rgb(1, 114, 139);
}


/* formulario de contacto contact-form */
.contact-form{
  --form-ok-color:#4caf50;
  --form-error-color:#f44336;
  background-color: rgb(235, 234, 234);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 1rem;
  border-radius: 2rem;
  position: relative;
  /* z-index: ; */
}

.contact-form>*{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 70%;
}

.contact-form textarea{
  resize: none;
}
.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: initial;
}
.contact-form input[type="submit"]{
  width: fit-content;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: .5rem;
  background-color: rgb(241, 72, 0);
  color: white;
  font-weight: bolder;
  border: none;
}
.contact-form *::placeholder{
  color: black;
}

.contact-form [required]:valid{
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid{
  border: thin solid var(--form-error-color);
}

.contact-form-error{
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active{
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
  display: none;
}

@keyframes show-message{
  0%{
      visibility: hidden;
      opacity: 0;
  }

  100%{
      visibility: visible;
      opacity: 1;
  }

}

.legend-formulario{
  font-weight: initial;
  text-align: center;
  font-size: 1.5rem;
}

.calendario-container{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-bottom: 2.3rem;
  height: fit-content;
}
.calendario-escolar{
  border: solid 1px #777;
  width: 80vw;
  height:50vh; 
  z-index: -2;
}

/* Hero.jsx */
.hero-container {
  position: relative;
  height: 20vh;
  background-position: 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
.hero-div{
  width: 100%;
  height: 100%;
  opacity: .6;
}
.hero-title{
  position: absolute;
  font-size: 2rem;
  color: black;
  text-align: center;
  opacity: 1;
}

/* header de contacto */
.img-hero{
  background-size: cover;
}

.img-nosotros{
  background-image: url("/heros/nosotros.jpg");
  background-position: 0 10%;
}

.img-inscripciones{
  background-image: url("/heros/admision.jpg");
  background-position: 0 50%;
  background-size: auto 250%;
}

.img-calendario{
  background-image: url("/heros/cal.jpg");
  background-position: 0 70%;
  background-size:"cover";
}

  .img-contacto{
    background-image: url("/heros/contacto.jpeg");
    background-position: 0 45%;
  }

  /* Comienza diseño de Inscripciones */

.inscripciones-container{
  position: relative;
  z-index: -2;
  width: 100%;
  height: fit-content;
  /* background-color: violet; */
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.inscripciones-top{
  width: 100%;
}
.inscripciones-top.titulo,
.inscripciones-top.titulo>*{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.inscripciones-top.titulo u{ 
  text-decoration-color: orange;
  text-decoration-thickness:4px;
}

.proceso-container{
  margin: 1rem 0;
  /* margin-right: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: gainsboro; */
  /* background-color: aqua; */
  width: 100%;
}
.proceso-container>h2{
  color: orange;
}
.proceso-container>h3{
  margin-bottom: 1.5rem;
}
.online-presencial-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.online-process{
  /* background-color: greenyellow; */
  margin-right: 1rem;
}
.online-process>h3,
.presencial-process>h3
{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.online-process>p,
.presencial-process>p{
  text-align: left;
  margin-bottom: 5px;
  font-weight: initial;
}
.requisitos-container{
  width: 100%;
  text-align: justify;
  padding: 2rem;
  margin-left: 3rem;
}
.requisitos-container>ul{
  padding-left: 3rem;
}
.requisitos-container>ul>li{
  font-weight: initial;
}
.requisitos-container>*{
  margin-top: 1rem;
}
  /* Finaliza diseño de Inscripciones */

/* Estilos para el navbar */
.nav-container >h2{
  font-weight: 400;
  color: white;
}
.nav-container > h2 > span{
  font-weight: bold;
}

.nav-container{
  height: 15vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: .4rem;
  background-color: rgb(0, 91,119);
  box-shadow: 0 -1rem 5px -10px white inset;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

a{
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}


/* Comienza diseño para boton de hamburguesa */
/* nav-icon-5 */
.nav-icon-5{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}


.links{
  position:absolute;
  top: -700px;
  left: -2000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  right: 0;
  transition: all .5s ease;
}
.links>a{
  color: white;
  font-size: 2rem;
  display: block;
}

.links.active{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 80%;
  left: 0;
  right: 0;
  text-align: center;
}

.links.active>a{
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (min-width: 768px) { 
  .burguer{
    display: none;
  }    

  .links{
    position:initial;
    margin: 0;
    width: fit-content;
  }
  
  .links>a{
    font-size: 1rem;
    color: white;
    display: inline;
  }

  .links>a{
    font-size: 1rem;
    color: white;
    display: inline;
  }

  .logo-container{
    width: 40vw;
  }
  .logo-titulo{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
  }
  footer{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .social-icon{
    margin: 0;
  }
  .contact-form{
    width: 60%; 
  }
  .contenido-dividido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
  }
  .slide{
    height: 85vh;
  }

  .contenido-derecho{ 
    width: 100%;
    height: 85vh;
    background-image: url("/escuela/didactico.jpg");
    background-position: center 65%;
  }
  .contenido-izquierdo{
    height: 85vh;
  }
  .cards-container{
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .teacher-card{
    height: fit-content;
    grid-template-columns: 40% 1fr;
  }
  .teacher-details{
    text-align: left;
  }
  .teacher-plus{
    text-align: justify;
    border-left: thick solid rgb(255,122,0);
    height: 80%;
    padding-left: 1rem;
  }
  .hero-container{
    height: 30vh;
  }
  .hero-title{
    font-size: 4rem;
  }
  .contenido-nosotros{
    padding: 1rem;
    /* background-color: violet; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    margin-bottom: 10vh;
  }
  .sub-nosotros{
    text-align: center;
    font-size: 1.5rem;
  }
  .contenido-nosotros>*{
    margin-left: 2rem;
    text-align: justify;
  }

  .contenido-nosotros{
    padding: 1rem;
    /* background-color: violet; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    margin-bottom: 10vh;
  }
  .contenido-nosotros>*{
    margin-left: 2rem;
    text-align: justify;
  }
  .nosotros-descripcion{
    padding:0 4rem;
  }
  .mision-vision-valores{
    width: 100%;
    /* height: 90vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .box-mvv{
    width: 35vw;
    height: fit-content;
    background-color: white;
    margin-left: 60px;
    border-radius: 4rem;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.393); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: justify;
  }
  .proceso-container{
    margin: 1rem 0;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    /* background-color: gainsboro; */
    /* background-color: aqua; */
    width: 45%;
  }
  .requisitos-container{
    width: 45%;
    text-align: justify;
    padding: 2rem;
    margin-left: 3rem;
  }
}


/* Comienza diseño para bg-div */
.bg-div{
  position: absolute;
  /* background-color: #222; */
  background-color: rgb(0, 91,119);
  top: -700px;
  left: -2000px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .6s ease;
}
.bg-div.active{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  border-radius: 0 0 60% 0;
}